{% extends "itreporting/base.html" %}

{% block content %}<h1 class="mb-3">Issues Reported by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h1>
{% for issue in issues %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{issue.author.profile.image.url}}"/>
    <div class="media-body">
        <div class="article-metadata">
            <h4 class="mr-2" >Posted by <a class="mr-2" href="{% url 'user-issues' issue.author.username %}">{{issue.author}}</a> on {{issue.date_submitted}}</h4>
        </div>
        <h3><a class="article-title" href="{% url 'issue-detail' issue.id %}">{{issue.type}} Issue in Room {{issue.room}}</a></h3>
        <p class="article-content">{{issue.details}}</p>
    </div>
</article>
{% endfor %}
{% if is_paginated %}
{% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
{% endif %}
{% endif %}
{% endblock %}